name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          config: ".markdownlint.jsonc"
          globs: |
            README.md
